/* STARTING FROM SIZE SMALLER THAN 575PX */

/* HEADER ZONE */

html{
    font-family: 'Roboto', sans-serif;
}

.py-6{
    padding-top: 4rem;
    padding-bottom: 4rem;
}

header h3{
    cursor: pointer;
}

header, footer{
    background-color: rgb(44, 63, 79);
}

.navbar-toggler:hover{
    background-color: white;
}

.color-white{
    color: white;
}

.list-inline-item a{
    color: white;
    text-decoration: none;
    padding: 0.5rem;
}

.list-inline-item a:hover{
    color: lightgreen;
}

/* MAIN ZONE */

.start_bootstrap{
    background-color: rgb(24, 188, 155);
}

.start_bootstrap img{
    width: 30%;
}

.bar{
    background-color: white;
    width: 15%;
    height: 3px;
}

.fa-star{
    font-size: 2rem;
}

/* SECOND SECTION MAIN */

.card{
    border-radius: 10px;
    overflow: hidden;
    position: relative; 
}

.fa-plus{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    color: white;
    background-color: rgba(24, 188, 155, 0.6);
    padding: 250px;
    display: none;
}

.card:hover .fa-plus{
    display: block;
}

.bar-black{
    background-color: black;
}

/* CONTAINER CONTACT SECTION MAIN */

.contact-section{
    background-color: rgb(24, 188, 155);
}

.star-white i{
    color: white;
}

.bar-short{
    width: 10%;
}

/* LAST PART MAIN */
 
.socials{
    background-color: rgb(59, 84, 109);
}

.back-color-lightgreen{
    background-color: rgb(24, 188, 155);
    border: none;
}

.fa-facebook-f, .fa-google-plus-g, .fa-twitter, .fa-linkedin-in{
    border: 1px solid white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
    transition-timing-function: linear;
}

.fa-facebook-f:hover{
    background-color: blue;
}

.fa-google-plus-g:hover{
    background-color: red;
}

.fa-twitter:hover{
    background-color: lightskyblue;
}

.fa-linkedin-in:hover{
    background-color: lightblue;
}

.color-lightgreen{
    color: rgb(24, 188, 155);
    text-decoration: none;
}

.color-lightgreen:hover{
    color: rgb(24, 188, 155);
    text-decoration: underline;
}
