/* HEADER SECTION */

[class*="col-"]{
    padding: 1rem;
}

.head1{
    background-color: rgb(44, 63, 79);
}

.header1{
    justify-content: space-between;
}

/*.head1 .col-6, .head1 .col-1{
    padding: 1rem;
}*/

.head1 .col-6{
    text-transform: uppercase;
    color: white;
}

.rettangolo_header{
    width: 25px;
    height: 20px;
    border: 1px solid white;
}

/* MAIN SECTION */


.first-sctn-main{
    background-color: rgb(24, 188, 155);
    text-transform: uppercase;
    padding: 2rem 0;
}

.first-sctn-main .col-6{
    background-color: green;
    padding: 8rem;
}

.sctn-main2{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.sctn-main2 .col-8{
    background-color: blue;
   /* padding: 1rem;*/
}

.sctn-main3 .col-1, .sctn-main3 .col-2{
   /* padding: 1rem;*/
}

.sctn-main3 .col-1{
    background-color: yellow;
}

.sctn-main3 .col-2{
    background-color: bisque;
}

.sctn-main4{
    margin-top: 0.5rem;
}
.sctn-main4 .col-3{
    background-color: blueviolet;
   /* padding: 1rem;*/
}

.scn-sec .col-2{
    background-color: aqua;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.scn-sec2 .col-1{
    background-color: azure;
}

.scn-sec2 .col-2{
    background-color: brown;
    margin-bottom: 1rem;
}

/* TERZA SEZIONE MAIN */

.sct-thi-main{
    background-color: rgb(187, 75, 99);
    padding: 2rem 0;
    width: 95%;
    border-radius: 10px;
    margin-bottom: 2rem;
    
}

.thi-sec .col-6{
    padding: 8rem;
    background-color: green;
}

/* LOREM PART MAIN */

.lorem-part{
    background-color: rgb(24, 188, 155);
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.row-lorem .col-2, .row-lorem4 .col-3{
    background-color: gold;
}

.row-lorem2{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.row-lorem2 .col-1:nth-child(odd){
    background-color: black;
}

.row-lorem2 .col-1:nth-child(even){
    background-color: gold;
}

.row-lorem3 .col-7{
  padding: 1rem;
  color: white;
  background-color: blue;
}

.row-lorem4 .col-3{
    margin-top: 1rem;
}

/* CONTACT SECTION */



.row-contact .col-4{
    background-color: green;
}

.row-contact2{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.row-contact2 .col-1:nth-child(odd){
    background-color: black;
}

.row-contact2 .col-1:nth-child(even){
    background-color: gold;
}

.row-contact3{
    margin-bottom: 0.5rem;
}

.row-contact3 .col-6{
    background-color: blue;
    padding: 1.5rem;
}

.row-contact4 .col-6{
    background-color: blueviolet;
    margin-bottom: 0.5rem;
}

.row-contact5 .col-2{
    background-color: bisque;
}

/* LAST SECTION */

.last-main{
    background-color: rgb(59, 84, 109);
    margin-top: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.row-last .col-7, .row.row-last .col-5, .row-last .col-9{
    background-color: goldenrod;
    margin-bottom: 1rem;
    padding: 2rem;
}

/* FOOTER SECTION */

.box-footer{
    background-color: rgb(44, 63, 79);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.row-footer .col-5{
    background-color: red;
}



/*@media screen and (min-width: 576px) and (max-width: 768px){

    .row-lorem3 .col{
        display: none;
    }   
   
}*/